<div class="row">

  <div class="col-xs-12">

    <form [formGroup]="recepieForm" (ngSubmit)="onSubmit()">
      <div class="row">

        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">save</button>
          <button type="button" (click)="onCancel()" class="btn btn-danger">cancel</button>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id ="name" name="name" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">

          <div class="col-xs-12">

            <div class="form-group">
              <label for="imagePath">Image Path</label>
              <input type="text" class="form-control" id="imagePath" formControlName="imagePath" #imagePath>
            </div>
          </div>
        </div>
        <div class="row">

            <div class="col-xs-12">
              <img [src]="imagePath.value" class="img-responsive">
            </div>
        </div>

        <div class="row">

            <div class="col-xs-12">

              <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text"  class="form-control" id="description" rows="6" formControlName="description"></textarea>
              </div>
            </div>
          </div>


          <div class="row">

              <div class="col-xs-12" formArrayName="ingredients">

                  <div class="row" *ngFor="let ingctrl of recepieForm.get('ingredients').controls; let i = index" [formGroupName]="i">

              <div class="col-xs-8">
                  <input type="text"  class="form-control" id="name" formControlName="name">
                </div>

                <div class="col-xs-2">
                    <input type="text"  class="form-control" id="amount" formControlName="amount">
                  </div>

                  <div class="col-xs-2">
                      <button type="button" type="button" (click)="onDelIng(i)" class="btn btn-danger">X</button>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <button type="button" (click)="onAddIngredient()" class="btn btn-success">Add Ingredient</button>
              </div>
            </div>
    </form>
  </div>

</div>
